[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/Dockerfile"]
	path = vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
  
[submodule "mutt/dracula"]
	path = mutt/dracula
	url = https://github.com/dracula/mutt.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "rofi"]
	path = rofi
	url = https://github.com/dracula/rofi
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/dracula/alacritty.git
