[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
