[Unit]
Description=Displays low battery

[Service]
Type=oneshot
#User=%i
ExecStart=/usr/bin/sh /home/%i/dotfiles/cron/traffic.sh  %i

[Install]
WantedBy=multi-user.target
